server:
  port: 8080

spring:
  application:
    name: consulting-ops-admin

  datasource:
    url: jdbc:mysql://localhost:3306/consulting_ops?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: epqp12!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true


